/*-- scss:defaults --*/

$body-bg:  #9e043d;
$body-color: #fff;
$link-color: #42affa;

.test-background {
    background-color: #9e043d !important;
}

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}





