/*-- scss:defaults --*/



// colors
$body-bg: #FFFFFF !default;
$body-color: #000 !default;
$link-color: #2a76dd !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #9e043d!default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}
section.slide h3 {
  color: white !important;
  background-color: #9e043d !important;
  width: 250vw;
  position: relative;
  left: -20vw;
  padding-left: 20vw;
  padding-top: 5px;
  padding-bottom: 5px;
}

// Text box

.inverse {
  data-background: #562457;
}

// Styles

.subtitle {
  font-size: 70px;
  color:  #9e043d !important;
}

.reveal .slide-logo {
  height: 60px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}


