/*-- scss:defaults --*/


// colors
$body-bg: #FFFFFF !default;
$body-color: #000 !default;
$link-color: #2a76dd !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #9e043d!default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

